body {
  background-color: #ebebeb;
  font-size: 1.2rem;
}

/**** general style of page *****/
main {
  margin: 0;
}

section.row,article {
  padding: 2vh 0.8vw;
  margin-bottom: 0;
}

.brake-img{
    width: 70px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
}


.w3-animate-bottom-rev {
  position: relative;
  animation: animatebottomrev 0.4s;
}
@keyframes animatebottomrev {
  from {
    bottom: 0px;
    opacity: 1;
  }
  to {
    bottom: -300;
    opacity: 0;
  }
}
.w3-animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}
@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

/* button style */
.btn1 {
  border: 2px solid black;
  height: 3rem;
  width: 3rem;
  transform: scale(0.5, 0.5);
  border-radius: 4rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: width 0.2s linear;
}

.b {
  margin-left: 4rem;
  transition: margin-left 1s;
}

.btn1:hover {
  width: 12rem;
  padding-left: 5px;
  transform: scale(1, 1);
}
.marg {
  margin: 1.4rem;
}
.white-border {
  border-color: white !important;
}




/* modal style */


/******  landing section styles *****/

.land-img img {
  height: 93vh;
}






/**** style for contact section ****/

.con-form .input-field {
  margin-bottom: 2.5vh;
}




@media screen and (min-width: 1100px) {
  .main {
    width: 1100px;
    margin: auto;
  }
  .contain {
    width: 1100px;
    margin: auto;
  }
  #main {
    padding: 6vh 2vw 4vh 2vw;
  }
  .land-img img {
    /* height: 93vh; */
    width: 32vw;
  }
}

