body {
  background-color: #ebebeb;
  font-size: 1.2rem;
}

/**** general style of page *****/
main {
  margin: 0;
}

section.row {
  padding: 10vh 2vw;
  margin-bottom: 0;
}
.w3-animate-top {
  position: relative;
  animation: animatetop 0.4s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.w3-animate-top-rev {
  position: relative;
  animation: animatetoprev 0.4s;
}
@keyframes animatetoprev {
  from {
    top: 0px;
    opacity: 1;
  }
  to {
    top: -300;
    opacity: 0;
  }
}
.w3-animate-bottom-rev {
  position: relative;
  animation: animatebottomrev 0.4s;
}
@keyframes animatebottomrev {
  from {
    bottom: 0px;
    opacity: 1;
  }
  to {
    bottom: -300;
    opacity: 0;
  }
}
.w3-animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}
@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

/* button style */
.btn1 {
  border: 2px solid black;
  height: 3rem;
  width: 3rem;
  transform: scale(0.5, 0.5);
  border-radius: 4rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: width 0.2s linear;
}

.b {
  margin-left: 4rem;
  transition: margin-left 1s;
}

.btn1:hover {
  width: 12rem;
  transform: scale(1, 1);
}
.marg {
  margin: 1.7rem;
}
.white-border {
  border-color: white !important;
}

/****** nav style ******/

.nav-wrapper {
  min-height: 77px;
  position: fixed;
  top: 0;
  z-index: 99999;
  left: 0;
}
div.modal1-content a {
  cursor: pointer;
}

/* modal style */

/* style for navbar logo */
.brand-logo img {
  width: 40px;
  margin-left: 15px;
}
/* style for sidebar nav logo */
.logo img {
  width: 60px;
}
.side-nav {
  display: none;
  position: fixed;
  z-index: 9999;
  right: 3vw;
  top: 4vh;
}
/* scrollpy styles */

#about img {
  width: 300px;
}

/* style of the menu bar of the nav */
.menubar1 {
  font-size: 2.6rem;
  margin-top: 7px;
  margin-left: 5px;
}
.menubar2 {
  margin-right: 15px;
  margin-top: 7px;
  color: white !important;
  font-size: 3rem !important;
}

/* modal style */

.modal1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  color: white !important;
  padding: 9vh 0 0 9vw;
}
div.modal1-content a {
  font-size: 2.5rem;
  color: white;
}
/******  landing section styles *****/

.land-img img {
  height: 93vh;
}

/****** service section style ******/

.service-img {
  margin: auto;
  height: 250px;
  width: 50%;
  overflow: hidden;
}
.service-img img {
  width: 100%;
}

/****** project section style *******/

.project {
  padding: 7vh 0;
  border-bottom: 2px solid rgb(63, 61, 61);
  height: 15vh;
}
.project:hover {
  background-color: rgba(73, 71, 71, 0.3);
}
.project img {
  position: relative;
  width: 400px;
  z-index: 1px;
}

/**** testimonial section style  ****/

#testimonial {
  overflow: hidden;
}
div.tml-list {
  width: 1460px !important;

  overflow: auto hidden;
}

/* style for qoute image */
.quote {
  width: 35px;
}
/* style for testimonial card */
.tml-image {
  width: 80px;
  border-radius: 100%;
}

.tml-card p {
  font-size: 1.2rem;
}

/**** style for contact section ****/

.con-form .input-field {
  margin-bottom: 2.5vh;
}

/***** style for the footer *****/

footer {
  padding: 6vh 0;
}
footer a i.material-icons {
  font-size: 3rem;
  color: #7a7a7a;
}
.foot-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

/* desktop and tablet style */

.proj-img {
  width: 200px !important;
}

@media screen and (min-width: 1100px) {
  .main {
    width: 1100px;
    margin: auto;
  }
  .contain {
    width: 1100px;
    margin: auto;
  }
  #main {
    padding: 6vh 2vw 4vh 2vw;
  }
  .land-img img {
    /* height: 93vh; */
    width: 32vw;
  }
}

@media screen and (min-width: 1350px) {
  .nav-wrapper {
    display: none;
  }
  .main {
    margin-top: 4vh;
  }

  .side-nav {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  #about img {
    width: 150px;
  }
  #home img {
    width: 70%;
    margin: auto;
  }
}

@media screen and (max-width: 900px) {
  #about img {
    width: 150px;
  }
  .land-img img {
    height: 60vh;
  }
}
